SPRING_PROFILES_ACTIVE=dev
DB_HOST=localhost
DB_PORT=5434
DB_NAME=saas-app-db
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public
SERVER_PORT=8080
SERVER_CONTEXT_PATH=/api
JWT_PRIVATE_KEY_PATH=certs/private_key.pem
JWT_PUBLIC_KEY_PATH=certs/public_key.pem
JWT_ACCESS_TOKEN_EXPIRATION=86400000
